h1{
  text-align: center;
  font-family: fantasy;
  font-size: 4rem;
}
.fs-30{
  font-size: 30px;
}
mt-10{
  margin-top: 10px;
}
.fas{
  color: red;
}
.fas:hover{
  color: white;
}
.fas:active{
  transform: translate(1px,1px);
  color: red;
}