body{
    color: #61dafb;
    /* user-select: none; */
}
h2{
    color:#fff;
}

.btn{
    transition: .2s all;
    height: 30px;
    width:auto;
    padding: 8px 30px;
    height: 40px;
    border-radius: 10px;
}